PORT=3008
RABBITMQ_URL=amqp://localhost:5672
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=noreply@ecom.local
SMTP_FROM_NAME=Ecom Notification
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
FCM_SERVER_KEY=
NODE_ENV=development
